<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1094230533358-7g6p7v93p6ddovj1uvrrf4bkt5i6i5a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094230533358-7g6p7v93p6ddovj1uvrrf4bkt5i6i5a8</string>
	<key>API_KEY</key>
	<string>AIzaSyBCBLXj09l0t-1mCnB8z3prMN8ab1bhqy4</string>
	<key>GCM_SENDER_ID</key>
	<string>1094230533358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.corealstudios.esell</string>
	<key>PROJECT_ID</key>
	<string>esell-bf562</string>
	<key>STORAGE_BUCKET</key>
	<string>esell-bf562.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094230533358:ios:086e1bea5e553935</string>
	<key>DATABASE_URL</key>
	<string>https://esell-bf562.firebaseio.com</string>
</dict>
</plist>